USE [master]
GO
/****** Objeto: Database [db_CableInternet] Fecha de script: 14/05/2026 23:11:47 ******/
CREATE DATABASE [db_CableInternet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_CableInternet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_CableInternet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_CableInternet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_CableInternet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_CableInternet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_CableInternet]
GO
/****** Objeto: Table [dbo].[Cliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [varchar](20) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[Direccion] [varchar](250) NULL,
	[Correo] [varchar](100) NULL,
	[Telefono] [varchar](20) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClienteServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClienteServicio](
	[IdClienteServicio] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[DireccionInstalacion] [varchar](250) NULL,
	[FechaInstalacion] [date] NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClienteServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Descuento] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuento](
	[IdDescuento] [int] IDENTITY(1,1) NOT NULL,
	[NombreDescuento] [varchar](100) NULL,
	[Porcentaje] [decimal](5, 2) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDescuento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DetalleFactura] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleFactura](
	[IdDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[IdServicio] [int] NOT NULL,
	[PrecioMensual] [decimal](10, 2) NULL,
	[Cantidad] [int] NULL,
	[Subtotal] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleado] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[CodigoEmpleado] [varchar](20) NULL,
	[Nombre] [varchar](150) NULL,
	[Puesto] [varchar](100) NULL,
	[SalarioBase] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Factura] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [varchar](20) NULL,
	[Serie] [varchar](10) NULL,
	[FechaFactura] [date] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[Descuento] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Nomina] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nomina](
	[IdNomina] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[SalarioBruto] [decimal](10, 2) NULL,
	[IGSS] [decimal](10, 2) NULL,
	[ISR] [decimal](10, 2) NULL,
	[TotalPagar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNomina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pago] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[IdPago] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[FechaPago] [date] NOT NULL,
	[Monto] [decimal](10, 2) NULL,
	[MetodoPago] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[IdServicio] [int] IDENTITY(1,1) NOT NULL,
	[NombreServicio] [varchar](100) NOT NULL,
	[TipoServicio] [varchar](20) NOT NULL,
	[VelocidadMbps] [int] NULL,
	[TipoCable] [varchar](20) NULL,
	[CantidadCanales] [int] NULL,
	[PrecioMensual] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [Estado]) VALUES (1, N'CLI001', N'Juan Carlos Perez', CAST(N'2026-05-13' AS Date), N'Zona 10 Ciudad', N'juancarlos@gmail.com', N'55559999', N'ACTIVO')
INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [Estado]) VALUES (2, N'CLI002', N'Maria Lopez', CAST(N'2024-01-10' AS Date), N'Zona 2', N'maria@gmail.com', N'55550002', N'INACTIVO')
INSERT [dbo].[Cliente] ([IdCliente], [CodigoCliente], [Nombre], [FechaAlta], [Direccion], [Correo], [Telefono], [Estado]) VALUES (12, N'CLI0012', N'Nelly Guttierez', CAST(N'2026-05-10' AS Date), N'Zona 15', N'nelly.gutierrez@gmail', N'51652823', N'ACTIVO')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[ClienteServicio] ON 

INSERT [dbo].[ClienteServicio] ([IdClienteServicio], [IdCliente], [IdServicio], [DireccionInstalacion], [FechaInstalacion], [Estado]) VALUES (1, 1, 2, N'Zona 16 Ciudad', CAST(N'2026-05-14' AS Date), N'ACTIVO')
INSERT [dbo].[ClienteServicio] ([IdClienteServicio], [IdCliente], [IdServicio], [DireccionInstalacion], [FechaInstalacion], [Estado]) VALUES (5, 12, 2, N'Ciudad', CAST(N'2026-05-08' AS Date), N'ACTIVO')
INSERT [dbo].[ClienteServicio] ([IdClienteServicio], [IdCliente], [IdServicio], [DireccionInstalacion], [FechaInstalacion], [Estado]) VALUES (6, 12, 4, N'Oriente', CAST(N'2026-05-15' AS Date), N'ACTIVO')
SET IDENTITY_INSERT [dbo].[ClienteServicio] OFF
GO
SET IDENTITY_INSERT [dbo].[Servicio] ON 

INSERT [dbo].[Servicio] ([IdServicio], [NombreServicio], [TipoServicio], [VelocidadMbps], [TipoCable], [CantidadCanales], [PrecioMensual], [Estado]) VALUES (1, N'Internet 100MB', N'INTERNET', 100, NULL, NULL, CAST(450.00 AS Decimal(10, 2)), N'ACTIVO')
INSERT [dbo].[Servicio] ([IdServicio], [NombreServicio], [TipoServicio], [VelocidadMbps], [TipoCable], [CantidadCanales], [PrecioMensual], [Estado]) VALUES (2, N'Internet 50MB', N'INTERNET', 50, NULL, NULL, CAST(300.00 AS Decimal(10, 2)), N'ACTIVO')
INSERT [dbo].[Servicio] ([IdServicio], [NombreServicio], [TipoServicio], [VelocidadMbps], [TipoCable], [CantidadCanales], [PrecioMensual], [Estado]) VALUES (4, N'Cable Premium', N'CABLE', NULL, N'PREMIUM', 100, CAST(250.00 AS Decimal(10, 2)), N'ACTIVO')
SET IDENTITY_INSERT [dbo].[Servicio] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Cliente__E0DD7E702404A2CF] Fecha de script: 14/05/2026 23:11:48 ******/
ALTER TABLE [dbo].[Cliente] ADD UNIQUE NONCLUSTERED 
(
	[CodigoCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Factura__CF12F9A6636DEC3D] Fecha de script: 14/05/2026 23:11:48 ******/
ALTER TABLE [dbo].[Factura] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DetalleFactura] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[ClienteServicio]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[ClienteServicio]  WITH CHECK ADD FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
ALTER TABLE [dbo].[DetalleFactura]  WITH CHECK ADD FOREIGN KEY([IdServicio])
REFERENCES [dbo].[Servicio] ([IdServicio])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Nomina]  WITH CHECK ADD FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([IdFactura])
REFERENCES [dbo].[Factura] ([IdFactura])
GO
/****** Objeto: StoredProcedure [dbo].[usp_AgregarCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AgregarCliente] 
(
	@CodigoCliente VARCHAR(20),
    @Nombre VARCHAR(150),
    @FechaAlta DATE,
    @Direccion VARCHAR(250),
    @Correo VARCHAR(100),
    @Telefono VARCHAR(20),
    @Estado VARCHAR(20),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		INSERT INTO Cliente
		(
			CodigoCliente,
			Nombre,
			FechaAlta,
			Direccion,
			Correo,
			Telefono,
            Estado
		)
		VALUES
		(
			@CodigoCliente,
			@Nombre,
			@FechaAlta,
			@Direccion,
			@Correo,
			@Telefono,
            @Estado
		);
		SET @Resultado = 1;
		SET @Mensaje = 'Cliente agregado correctamente';

   END TRY

   BEGIN CATCH
		SET @Resultado = 0;
		SET @Mensaje = ERROR_MESSAGE();
   END CATCH
 END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_AgregarServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	USP_AgregarServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_AgregarServicio]
(
	@NombreServicio VARCHAR(100),
    @TipoServicio VARCHAR(20),
    @VelocidadMbps INT,
    @TipoCable VARCHAR(20),
    @CantidadCanales INT,
    @PrecioMensual DECIMAL(10,2),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		INSERT INTO Servicio
		(
			NombreServicio,
			TipoServicio,
			VelocidadMbps,
			TipoCable,
			CantidadCanales,
			PrecioMensual
		)
		VALUES
		(
			@NombreServicio,
			@TipoServicio,
			@VelocidadMbps,
			@TipoCable,
			@CantidadCanales,
			@PrecioMensual
		);
		SET @Resultado = 1;
		SET @Mensaje = 'Servicio agregado correctamente';

   END TRY

   BEGIN CATCH
		SET @Resultado = 0;
		SET @Mensaje = ERROR_MESSAGE();
   END CATCH
 END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_AsignarServicioCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_AsignarServicioCliente]
(
	@IdCliente INT,
    @IdServicio INT,
    @DireccionInstalacion VARCHAR(250),
    @FechaInstalacion DATE,
	@Estado VARCHAR(20),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY
		INSERT INTO ClienteServicio
		(
			IdCliente,
			IdServicio,
			DireccionInstalacion,
			FechaInstalacion,
			Estado
		)
		VALUES
		(
			@IdCliente,
			@IdServicio,
			@DireccionInstalacion,
			@FechaInstalacion,
			@Estado
		);
		SET @Resultado = 1;
		SET @Mensaje = 'Servicio agregado a cliente correctamente';

   END TRY

   BEGIN CATCH
		SET @Resultado = 0;
		SET @Mensaje = ERROR_MESSAGE();
   END CATCH
 END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_BuscarCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_BuscarCliente]
(
	@CodigoCliente varchar(20)
)
AS
	BEGIN
		BEGIN TRY
			SELECT * 
			FROM Cliente
			WHERE CodigoCliente LIKE '%' + @CodigoCliente + '%'
			ORDER BY IdCliente ASC;
		END TRY

	BEGIN CATCH
			THROW;
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_BuscarClienteServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_BuscarClienteServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_BuscarClienteServicio]
(
	@NombreCliente VARCHAR(150)
)
AS
BEGIN
	BEGIN TRY

		SELECT 
			cs.IdClienteServicio,
			c.Nombre AS Cliente,
			s.NombreServicio,
			cs.DireccionInstalacion,
			cs.FechaInstalacion,
			cs.Estado
		FROM ClienteServicio cs
		INNER JOIN Cliente c
			ON cs.IdCliente = c.IdCliente
		INNER JOIN Servicio s
			ON cs.IdServicio = s.IdServicio
		WHERE c.Nombre LIKE '%' + @NombreCliente + '%'
		ORDER BY cs.IdClienteServicio ASC;

	END TRY

	BEGIN CATCH
		THROW;
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_BuscarServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_BuscarServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_BuscarServicio]
(
	@TipoServicio varchar(20)
)
AS
	BEGIN
		BEGIN TRY
			SELECT * 
			FROM Servicio
			WHERE TipoServicio LIKE '%' + @TipoServicio + '%'
			ORDER BY IdServicio ASC;
		END TRY

	BEGIN CATCH
			THROW;
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_ConsultarCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	USP_ConsultarCliente
-- =============================================
CREATE PROCEDURE [dbo].[usp_ConsultarCliente]
AS
BEGIN
    SELECT *
    FROM Cliente
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_ConsultarClienteServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_ConsultarClienteServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_ConsultarClienteServicio]
AS
BEGIN
	BEGIN TRY

		SELECT 
			cs.IdClienteServicio,
			c.Nombre AS Cliente,
			s.NombreServicio,
			cs.DireccionInstalacion,
			cs.FechaInstalacion,
			cs.Estado
		FROM ClienteServicio cs
		INNER JOIN Cliente c
			ON cs.IdCliente = c.IdCliente
		INNER JOIN Servicio s
			ON cs.IdServicio = s.IdServicio
		ORDER BY cs.IdClienteServicio ASC;

	END TRY

	BEGIN CATCH
		THROW;
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[USP_ConsultarServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	USP_ConsultarServicio
-- =============================================
CREATE PROCEDURE [dbo].[USP_ConsultarServicio]
AS
BEGIN
    SELECT *
    FROM Servicio
END
GO
/****** Objeto: StoredProcedure [dbo].[usp_EditarCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_EditarCliente
-- =============================================
CREATE PROCEDURE [dbo].[usp_EditarCliente]
(
	@IdCliente INT,
	@CodigoCliente VARCHAR(20),
    @Nombre VARCHAR(150),
    @FechaAlta DATE,
    @Direccion VARCHAR(250),
    @Correo VARCHAR(100),
    @Telefono VARCHAR(20),
    @Estado VARCHAR(20),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
 BEGIN
	BEGIN TRY
		UPDATE Cliente
		SET 
			CodigoCliente = @CodigoCliente,
			Nombre = @Nombre,
			FechaAlta = @FechaAlta,
			Direccion = @Direccion,
			Correo = @Correo,
			Telefono = @Telefono,
			Estado = @Estado
		WHERE IdCliente = @IdCliente;

		IF @@ROWCOUNT = 0
				BEGIN
				SET @Resultado = 0;
				SET @Mensaje = 'No se encontró el cliente';
		END
			ELSE
				BEGIN
					SET @Resultado = 1;
					SET @Mensaje = 'Cliente actualizado correctamente';
			END

			END TRY
				BEGIN CATCH
					SET @Resultado = 0;
					SET @Mensaje = ERROR_MESSAGE();
			END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_EditarClienteServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_EditarClienteServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_EditarClienteServicio]
(
	@IdClienteServicio INT,
	@IdCliente INT,
    @IdServicio INT,
    @DireccionInstalacion VARCHAR(250),
    @FechaInstalacion DATE,
    @Estado VARCHAR(20),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY

		UPDATE ClienteServicio
		SET
			IdCliente = @IdCliente,
			IdServicio = @IdServicio,
			DireccionInstalacion = @DireccionInstalacion,
			FechaInstalacion = @FechaInstalacion,
			Estado = @Estado
		WHERE IdClienteServicio = @IdClienteServicio;

		IF @@ROWCOUNT = 0
			BEGIN
				SET @Resultado = 0;
				SET @Mensaje = 'No se encontró la asignación';
			END
		ELSE
			BEGIN
				SET @Resultado = 1;
				SET @Mensaje = 'Asignación actualizada correctamente';
			END

	END TRY

	BEGIN CATCH
		SET @Resultado = 0;
		SET @Mensaje = ERROR_MESSAGE();
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_EditarServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_EditarServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_EditarServicio]
(
	@IdServicio INT,
    @NombreServicio VARCHAR(100),
    @TipoServicio VARCHAR(20),
    @VelocidadMbps INT,
    @TipoCable VARCHAR(20),
    @CantidadCanales INT ,
    @PrecioMensual DECIMAL(10,2),
    @Estado VARCHAR(20),
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
 BEGIN
	BEGIN TRY
		UPDATE Servicio
		SET 
			NombreServicio = @NombreServicio,
			TipoServicio = @TipoServicio,
			VelocidadMbps = @VelocidadMbps,
			TipoCable = @TipoCable,
			CantidadCanales = @CantidadCanales,
			PrecioMensual = @PrecioMensual,
			Estado = @Estado
		WHERE IdServicio = @IdServicio;

		IF @@ROWCOUNT = 0
				BEGIN
				SET @Resultado = 0;
				SET @Mensaje = 'No se encontró el servicio';
		END
			ELSE
				BEGIN
					SET @Resultado = 1;
					SET @Mensaje = 'Servicio actualizado correctamente';
			END

			END TRY
				BEGIN CATCH
					SET @Resultado = 0;
					SET @Mensaje = ERROR_MESSAGE();
			END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_EliminarCliente] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_EliminarCliente](
    @IdCliente int,
    @Resultado BIT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
) AS
BEGIN
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM ClienteServicio WHERE IdCliente = @IdCliente)
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se puede eliminar: El cliente tiene servicios asignados actualmente.';
            RETURN;
        END

        DELETE Cliente WHERE IdCliente = @IdCliente;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el cliente';
        END
        ELSE
        BEGIN
            SET @Resultado = 1;
            SET @Mensaje = 'Cliente eliminado correctamente';
        END
    END TRY

    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = 'Error' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_EliminarClienteServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Fernando Fajardo
-- Create date: 13/05/2026
-- Description:	usp_EliminarClienteServicio
-- =============================================
CREATE PROCEDURE [dbo].[usp_EliminarClienteServicio]
(
	@IdClienteServicio INT,
	@Resultado BIT OUTPUT,
	@Mensaje NVARCHAR(500) OUTPUT
)
AS
BEGIN
	BEGIN TRY

		DELETE ClienteServicio
		WHERE IdClienteServicio = @IdClienteServicio;

		IF @@ROWCOUNT = 0
			BEGIN
				SET @Resultado = 0;
				SET @Mensaje = 'No se encontró la asignación';
			END
		ELSE
			BEGIN
				SET @Resultado = 1;
				SET @Mensaje = 'Asignación eliminada correctamente';
			END

	END TRY

	BEGIN CATCH
		SET @Resultado = 0;
		SET @Mensaje = ERROR_MESSAGE();
	END CATCH
END;
GO
/****** Objeto: StoredProcedure [dbo].[usp_EliminarServicio] Fecha de script: 14/05/2026 23:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_EliminarServicio](
    @IdServicio int,
    @Resultado BIT OUTPUT,
    @Mensaje NVARCHAR(500) OUTPUT
) AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM ClienteServicio WHERE IdServicio = @IdServicio)
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se puede eliminar: Este servicio está asignado a uno o más clientes actualmente.';
            RETURN;
        END
        DELETE Servicio WHERE IdServicio = @IdServicio;

        IF @@ROWCOUNT = 0
        BEGIN
            SET @Resultado = 0;
            SET @Mensaje = 'No se encontró el servicio solicitado';
        END
        ELSE
        BEGIN
            SET @Resultado = 1;
            SET @Mensaje = 'Servicio eliminado correctamente de la base de datos';
        END
    END TRY

    BEGIN CATCH
        SET @Resultado = 0;
        SET @Mensaje = 'Error' + ERROR_MESSAGE();
    END CATCH
END;
GO
USE [master]
GO
